main {
    min-height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 1em;
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 1em;
    max-width: 800px;
    margin: 0 auto;
}

/*h1 {*/
/*    margin-top: clamp(var(--margin-min), var(--margin-preferred), var(--margin-max));*/
/*    text-align: center;*/
/*}*/
h3 {
    margin: 0;
    font-weight: normal;
}

.flex-column {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.box {
    padding: 1em;
    border-radius: 0.5em;
    background: var(--background-box-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--gradient-end-light);
    border: none;
}

.loading {
    flex: 5;
}

.box-value {
    font-weight: bold;
    transition: all 0.5s ease-in;
    font-size: 1.4rem;
    color: var(--gradient-end-dark);
}

.game-description {
    align-self: center;
    justify-self: center;

    display: flex;
    align-items: center;
    justify-items: flex-start;
    flex-direction: column;
    text-align: center;
    width: min(1020px, calc(100% - 2em));
    line-height: 1.8;

    @media (max-width: 625px) {
        p, h1 {
            margin: 0;
        }
    }
}

/*.game {*/
/*display: grid;*/
/*min-width: 0;*/
/*align-self: flex-start;*/
/*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
/*grid-auto-rows: minmax(140px, auto);*/
/*gap: 1rem;*/

/*display: grid;*/
/*min-width: 0;*/
/*align-self: flex-start;*/
/*grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));*/
/*grid-auto-rows: minmax(120px, auto);*/
/*gap: 1rem;*/
.game {

    width: 100%;
    display: grid;
    min-width: 0;
    align-self: flex-start;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 1rem;
    box-sizing: border-box;

    .current-price {
        grid-row: 1;
        grid-column: span 1;
        @media (max-width: 625px) {
            /* For wider screens */
            grid-column: span 1;  /* Take less space when screen is wide */
        }
    }

    .score {
        grid-row: 2;
        grid-column: span 1;
        text-align: center;
        @media (max-width: 625px) {
            /* For wider screens */
            grid-row: 1;  /* Take less space when screen is wide */
            grid-column: span 1;  /* Take less space when screen is wide */
        }
    }

    .guess-ui {
        grid-row: 1;
        grid-column: span 2;
        justify-content: space-around;

        @media (max-width: 625px) {
            /* For wider screens */
            grid-row: 2;  /* Take less space when screen is wide */
            grid-column: span 2;  /* Take less space when screen is wide */
        }

        .guess-message {
            font-weight: bold;
            font-size: 1rem;
            color: var(--gradient-end-dark);
        }

        .correct-answer {
            font-size: 1.4rem;
            text-shadow: lightgreen 0 0 20px;
            color: green;
        }

        .wrong-answer {
            font-size: 1.4rem;
            text-shadow: lightcoral 0 0 20px;
            color: red;
        }

        .buttons-container {
            flex-direction: row;
            justify-content: stretch;
            width: 100%;

            button {
                flex: 1 1 0;
                font-size: 1rem;
                cursor: pointer;
                transition: background 0.3s;
                box-shadow: none;
                background: var(--gradient-end-dark);
                color: var(--light-color);
                font-weight: bold;
            }
        }
    }

    .last-guess {
        grid-row: 2/3;
        grid-column: span 2;
        gap: 1em;
        color: var(--text-color);

        @media (max-width: 625px) {
            /* Adjust breakpoint as needed */
            grid-row: 3;
            grid-column: span 2;
        }

        .last-guess-content {
            display: flex;
            flex-direction: row;
            gap: 1em;
            align-items: flex-start;
            justify-content: center;
            text-align: center;

            .last-guess-label {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 1rem;

                .last-guess-value {
                    color: var(--gradient-end-dark);
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
        }
    }
}