:root {
    --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

    --margin-min: 0.5em;
    --margin-max: 2em;
    --margin-preferred: 5vw;

    --light-color: ghostwhite;
    --dark-color: graphite;

    --gradient-start-dark: #667eea;
    --gradient-end-dark: #764ba2;
    --gradient-start-light: #cad2fa;
    --gradient-end-light: #d7c9ec;

    --background-gradient: linear-gradient(135deg, var(--gradient-start-dark) 0%, var(--gradient-end-dark) 80%);
    --text-color: var(--dark-color);
    --success-color: darkgreen;
    --error-color: crimson;
    --background-box-color: var(--light-color);
}

body {
    font-family: var(--font-family), sans-serif;
    color: var(--text-color);
    color-scheme: light dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--background-gradient);
    background-attachment: fixed;

    box-sizing: content-box;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
